body{
	color:white;	
}

.Gallery{
  background: url("./images/background2blurred.jpg") no-repeat center center fixed;  
  background-size: cover;
 
}
.linkTitles{
	width: 20%;
}
.linkTitlesText{
	font-size:25px;
	text-align:center;
	padding:10px;	
	margin:0;
}
.linkDescriptions{
	width: 20%;
}
.linkDescriptionsText{
	font-size:25px;
	text-align:center;
	padding:10px;	
	margin:0;
}
.imageTitle{
	width: 100%;
	margin-top:0;
}
.imageAndArrows{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	flex-wrap: wrap;
	margin-left:auto;
	margin-right:auto;
}
.images{
  animation: 'opacitychange 2.5s';
  border-radius: 10px;
  min-width:40%;
  height: 400px;
  margin-left:20px;
  margin-right:20px;
  overflow:scroll;
}
.imageDescriptionLine1{
	width: 100%;
}
.imageDescriptionLine2{
	margin-top:20px;
	width: 50%;
	font-size: 24px;
	color:white;
}

.linkTitlesText:hover{
	font-size:26px;
	color:turquoise;
}
