
@media screen and (max-width:380px){
  .mainTitleAndDescription {
    text-align: center;
    width:100%;
  }
  #mainTitle{
    font-size: 0.5em;   
    margin-bottom: 5px; 
  }
  #mainDescriptionText{
    font-size: 0.25em;    
  }  
}
@media screen and (min-width:381px and max-width:541px){
  .mainTitleAndDescription {
    text-align: center;
    width:100%;
  }
  #mainTitle{    
    font-size: 2.5em;    
    margin-bottom: 1px;
  }
  #mainDescriptionText{
    font-size: 1.25em;
    
  }

  
}
@media screen and (min-width:542px and max-width:780px){
  .mainTitleAndDescription {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width:100%;
  }
  #mainTitle{    
    font-size: 2.0em;    
    margin-bottom: 1px;
  }
  #mainDescriptionText{
    font-size: 1.25em;
    
  }  
}

